/**
* @name PixelCove
* @version Auto Update
* @description PixelCove Theme for BetterDiscord
* @author _Jak.#6967
*/
@import url("https://codedotspectra.github.io/themes/themes-cores/neutron8.css");
@import url('https://discordstyles.github.io/HorizontalServerList/dist/HorizontalServerList.css');
@import url('https://fonts.googleapis.com/css2?family=Lobster');
:root {
--themeColor1: #B37CDCFF;
--themeColor2: #9BC5E5FF;
--customFont: 'Lobster';
--homeImage: url('https://i.imgur.com/bnbE1Eq.png');
--homeImageSize: contain;
--backgroundColor: #00000000;
--backgroundImage: url('https://i.imgur.com/7Cs5RbM.jpg');
--backgroundPosition: center;
--backgroundSize: contain;
--backgroundRepeat: no-repeat;
--backgroundBlur: 2px;
--backgroundOpacity: 1;
--HSL-server-icon-size: 40px;
--HSL-server-spacing: 10px;
}
